html * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hide {
  display: none;
}

.title {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, lightpink, rgb(73, 2, 73));
  font-size: 3em;
  color: white;
}

.bigFont {
  font-size: 3rem;
  font-weight: 900;
}

.mediumFont {
  font-size: x-large;
}

.weatherIcon {
  width: 80px;
  height: 80px;
}

.cityDateWeather {
  display: flex;
  align-items: center;
}

.forecastDiv {
  color: white;
  background-image: linear-gradient(to right, lightpink, #a16c6c);
}

.divider {
  flex-direction: row;
  border-style: solid;
  border-width: 1.5px;
  margin-top: 10px;
  background-color: lightpink;
  border-color: lightpink;
}

.baseBoxBorder {
  border-width: 1.5px;
  border-color: rgb(250, 85, 110);
  border-style: solid;
  margin-right: 20px;
  padding: 10px;
}

button {
  background-color: rgb(236, 124, 141);
  padding: 1rem;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
}

button:hover {
  background-color: rgb(196, 183, 185);
  cursor: pointer;
}

.grayButton {
  background-color: rgb(196, 183, 185);
}

input {
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5em;
}

.leftContainer {
  display: flex;
  flex-direction: column;
}

.rightContainer {
  width: auto;
  margin-left: 20px;
}

.mainContainer {
  display: flex;
  margin-top: 10px;
}

#dailyForecast {
  display: flex;
  flex-direction: row;

  overflow-y: auto;
}

@media (max-width: 768px) {
  .title {
    text-align: center;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
  }
  .leftContainer {
    width: auto;
  }

  .rightContainer {
    margin-top: 20px;
    width: auto;
  }
}
